@font-face {
    font-family: "Lato";
    font-weight: 900;
    font-style: normal;
    src: local("Lato"),
        local("Lato-Black"),
        url(../fonts/Lato-Black.woff2) format('woff2'),
        url(../fonts/Lato-Black.woff) format('woff'),
        url(../fonts/Lato-Black.eot) format('eot');
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    font-weight: 900;
    font-style: italic;
    src: local("Lato"),
    local("Lato-BlackItalic"),
        url(../fonts/Lato-BlackItalic.woff2) format('woff2'),
        url(../fonts/Lato-BlackItalic.woff) format('woff'),
        url(../fonts/Lato-BlackItalic.eot) format('eot');
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    font-weight: 700;
    font-style: normal;
    src: local("Lato"),
    local("Lato-Bold"),
        url(../fonts/Lato-Bold.woff2) format('woff2'),
        url(../fonts/Lato-Bold.woff) format('woff'),
        url(../fonts/Lato-Bold.eot) format('eot');
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    font-weight: 700;
    font-style: italic;
    src: local("Lato"),
    local("Lato-BoldItalic"),
        url(../fonts/Lato-BoldItalic.woff2) format('woff2'),
        url(../fonts/Lato-BoldItalic.woff) format('woff'),
        url(../fonts/Lato-BoldItalic.eot) format('eot');
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    src: local("Lato"),
        local("Lato-Regular"),
        url(../fonts/Lato-Regular.woff2) format('woff2'),
        url(../fonts/Lato-Regular.woff) format('woff'),
        url(../fonts/Lato-Regular.eot) format('eot');
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: italic;
    src: local("Lato"),
        local("Lato-Italic"),
        url(../fonts/Lato-Italic.woff2) format('woff2'),
        url(../fonts/Lato-Italic.woff) format('woff'),
        url(../fonts/Lato-Italic.eot) format('eot');
    font-display: swap;
}