.wrapper {
    padding: 50px 50px 20vh;
    height: 200vh;
}
.block1 {
    height: 50%;
    box-shadow: 0 0 40px #0673f9;
    border-radius: 30px;
    margin-bottom: 20px;
    background-image: url(../images/ferrari.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 50% 50%;
    /*background-color: linear-gradient(#c8e111, #ee0a0a); - не применимо отдельно от background*/
}
.block2 {
    height: 50%;
    box-shadow: 0 0 40px #f30808;
    border-radius: 30px;
    margin-bottom: 20px;
    background: url(../images/pilots.jpg) 50% 35% / 95% auto no-repeat, linear-gradient(yellow, red);
}