.square {
    height: 400px;
    width: 400px;
    box-shadow: inset 0 0 50px rgb(240, 13, 13);
    position: relative;
    top: 100px;
    left: 40%;

    /*HOMEWORK*/

    transform: skew(30deg) translateX(10vw);
}